@page "/paneletudiant"
@using projet_jean_marcillac.Composants.FormulaireConnexion
@using projet_jean_marcillac.Composants.Footer
@using projet_jean_marcillac.Composants.NavBar
@using projet_jean_marcillac.Composants.Etudiants.TableauCoursEtudiant

<NavBar/>

<div class="contenu">
    @if (this.MembreConnecte == null)
    {
        <h1>Panel Etudiant</h1>
        <FormulaireConnexion OnConnexion="OnConnexion"
                            Membres="@TousLesEtudiants"
                            Titre="Connexion - Etudiant"/>
    }
    else
    {
        <h1>Panel Etudiant : @this.MembreConnecte.Nom @this.MembreConnecte.Prenom</h1>

        @if (this.Notifs != null)
        {
            @foreach (var notif in this.Notifs)
            {
                <div class="notif">
                    <p>@notif</p>
                </div>
            }
        }

        <div class="cours">
            <div class="coursAbonnes">
                <h2>Cours auquels vous êtes abonnés : </h2>
                @if (this.CoursAbonnes != null)
                {
                    @foreach (var cours in this.CoursAbonnes)
                    {
                        <div class="coursAbonne">
                            <div class="infos">
                                <h3>@cours.Titre</h3>
                                <p>@cours.Resume</p>
                            </div>
                            <div class="boutons">
                                <MudButton StartIcon="@Icons.Material.Outlined.Close"
                                       Color="Color.Error" Variant="Variant.Filled"
                                       Class="text-white" OnClick="() => DesabonnerEtudiant(cours)">
                                Se désabonner
                            </MudButton>
                            <MudButton StartIcon="@Icons.Material.Outlined.Visibility"
                                       Color="Color.Primary" Variant="Variant.Filled"
                                       Class="text-white" OnClick="() => DirigerVersCours(cours)">
                                Consulter
                            </MudButton>
                            </div>
                            
                            
                        </div>
                    }
                }
                
            </div>
            
            <div class="coursNonAbonnes">
                <h2>S'abonner à d'autres cours :</h2>
                <TableauCoursEtudiant Cours="@this.CoursNonAbonnes"
                                      OnAbonnementEtudiant="OnAbonnementEtudiant" />
            </div>

            
        </div>
    }
</div>

<Footer/>