@using projet_jean_marcillac.Modeles
@using MudBlazor

<div class="contenu">
    <div class="barre-recherche">
        <MudTextField @bind-Value="searchString" Placeholder="Rechercher un professeur..." Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" Class="mb-4" FullWidth="true" />
    </div>

    <div class="tableau">
        <MudDataGrid T="Professeur" Items="@Professeurs" Bordered="true" Dense="true"
                MultiSelection="true" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@QuickFilter">

        <Columns>
            <PropertyColumn Property="p => p.Id" Title="ID" Editable="false" />
            <PropertyColumn Property="p => p.Nom" Title="Nom" Filterable="true" />
            <PropertyColumn Property="p => p.Prenom" Title="Prénom" Filterable="true" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <div class="d-flex align-items-center">
                        <MudIconButton Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary" 
                                    OnClick="() => OuvrirFenetreEditionProfesseur(context.Item)" />
                        <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Secondary" 
                                    OnClick="() => SupprimerProfesseur(context.Item)" />
                    </div>
                </CellTemplate>
            </TemplateColumn>
        </Columns>

        <PagerContent>
            <MudDataGridPager T="Professeur" PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
        </PagerContent>
    </MudDataGrid>
    </div>

    <div class="bouton-ajouter">
        <MudButton OnClick="AjouterProfesseur" Color="Color.Primary" EndIcon="@Icons.Material.Outlined.Add"  Variant="Variant.Filled" Class="mt-4">Ajouter professeur</MudButton>
    </div>
</div>