@using projet_jean_marcillac.Modeles
@using MudBlazor

<MudDataGrid T="Cours" Items="@Cours" Bordered="true" Dense="true"
                EnablePaging="true" PageSize="10" QuickFilter="@QuickFilter" 
                RowsPerPageOptions="new int[] { 10, 20, 50, 100 }">
    <Columns>
        <PropertyColumn Property="c => c.Id" Title="ID" Editable="false" />
        <PropertyColumn Property="c => c.Titre" Title="Titre" Filterable="true" />
        <PropertyColumn Property="c => c.Resume" Title="Résumé" Filterable="true" />
        <PropertyColumn Property="c => c.NombreDePlacesDisponibles" Title="Places Disponibles" Filterable="true" />
        <TemplateColumn Title="Temps Avant Expiration" Filterable="true">
            <CellTemplate>
                @context.Item.TempsAvantExpiration minutes
            </CellTemplate>
        </TemplateColumn>
        @* <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <div class="d-flex align-items-center">
                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary" 
                                    OnClick="() => OuvrirFenetreEditionCours(context.Item)" />
                    <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Secondary" 
                                    OnClick="() => SupprimerCours(context.Item)" />
                </div>
            </CellTemplate>
        </TemplateColumn> *@
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Cours" PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
    </PagerContent>
</MudDataGrid>