@page "/panelprof"
@using MudBlazor
@using projet_jean_marcillac.Modeles
@using projet_jean_marcillac.Composants.Cours.CoursDataGrid.TableauCours
@using projet_jean_marcillac.Composants.NavBar
@using projet_jean_marcillac.Composants.Footer
@using projet_jean_marcillac.Composants.FormulaireConnexion

<NavBar/>

@if (this.MembreConnecte == null)
{
    <h1>Panel Professeur</h1>

    <FormulaireConnexion OnConnexion="OnConnexion"
                         Membres="@TousLesProfesseurs"
                         Titre="Connexion - Professeur"/>
}
else
{
    <h1>Panel Professeur : @this.MembreConnecte.Nom @this.MembreConnecte.Prenom</h1>

    <div class="contenu">
        <MudButton Variant="Variant.Outlined" Color="Color.Warning" Class="mt-2" EndIcon="@Icons.Material.Outlined.Person"
               OnClick="() => EditerProfil()">
        Éditer votre profil
        </MudButton>
        <div class="tableau">
            <TableauCours Cours="@Cours"
                          OnCoursModifie="() => OnCoursModifieAsync()"
                          IdProfesseur="@this.MembreConnecte.Id"/>
        </div>
    </div>
}

<Footer/>